@using CSharp___ASP.NET_MVC.Models;
@model Pessoa

@{
    ViewBag.Title = "Saudacao";
}

<h2>Saudação</h2>

<p>Olá! Seja bem vindo (a). @Model.Nome</p>
@Html.LabelFor(p => p.idade) @Html.EditorFor(p => p.idade)
@Html.LabelFor(p => p.Endereco) @Html.EditorFor(p => p.Endereco)
@Html.LabelFor(p => p.Email) @Html.EditorFor(p => p.Email)
